.item{
    height: 285px;
    float: left;
    background-color: white;
    margin-right: 49px;
    margin-left: 49px;
    margin-top: 50px;
    margin-bottom: 100px;


}
.item img{
    height: 100%;
    width: 100%;


}
.item div{
    width: 100%;
    text-align: center;
    color: green;
}
.item button{
    align: center;
    height:51px;
    width: 338px;
    background-color: #00B7FF;

}